mixin sServises(data)
	// start sServises
	+b.SECTION.sServises.section#sServises&attributes(attributes)
		.container
			+b.section-title
				h2 УСЛУГИ
				h3 Профессиональное продвижение бизнеса и брендов в диджитал среде.

				
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin slide(i,title,text)
						+e.slide.swiper-slide
							+e.wrap
								+e.imgWrap 
									img.default(src=`img/@2x/sServises-${i}.jpg`, alt="" loading="lazy")
									img.gif(src=`img/sServises-${i}.gif`, alt="" loading="lazy")
								+e.txtWrap 
									+e.title.h3.ttu!= title 
									p!= text 
									+e.btnWrap
										+e.btn.btn.btn-primary(href="#") Подробнее
					+slide(1,'КОНТЕКСТНАЯ РЕКЛАМА','Подбираем целевые поисковые запросы и показываем рекламу ваших товаров над поисковой выдачей в популярных поисковых системах.')
					+slide(3,'SEO','Продвигаем ваш сайт на первые позиции поисковых систем. Приводим больше клиентов из органической выдачи.')
					+slide(2,'SMM','Делаем ваш проект интересным в социальных сетях. Повышаем лояльность к бренду, вовлеченность аудитории и продажи.')
					+slide(4,'EMAIL МАРКЕТИНГ','Мы повысим эффективность текущих рекламных кампаний или создадим новые. Увеличим продажи от брошенных корзин.')
				.swiper-pagination.d-md-none

						
	// end sServises

mixin sServises-inner(data)
	// start sServises
	+b.sServises--inner.section#sServises&attributes(attributes)
		.container

			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin slide(i,title,text)
						+e.slide.swiper-slide
							+e.wrap
								+e.imgWrap 
									img(src=`img/@2x/sServises-${i}.jpg`, alt="" loading="lazy")
								+e.txtWrap 
									+e.title.h3.ttu!= title 
									p!= text 
									+e.btnWrap
										+e.btn.btn.btn-primary(href="#") Подробнее
					+slide(1,'КОНТЕКСТНАЯ РЕКЛАМА','Настройка рекламных кампаний в Google Ads, Bing Ads и других системах')
					+slide(2,'SMM ПРОДВИЖЕНИЕ','Повышение активности вашего бренда в соцсетях.')
					+slide(5,'ОПТИМИЗАЦИЯ КОНВЕРСИИ','Увеличим конверсию вашего сайта при том же количестве трафика.')
					+slide(2,'SMM СТРАТЕГИЯ','Разработка полной стратегии для вашего бренда в соцсетях.')
					+slide(6,'GOOGLE SHOPPING','Новый тип рекламных кампаний в Google Ads, который приносит космические результаты.')
					+slide(7,'КОЛЛ-ТРЕКИНГ','Настройка отслеживания звонков с вашего сайта и эффективности рекламы по звонкам.')
					+slide(8,'СКВОЗНАЯ АНАЛИТИКА','Настройка сквозной аналитики для детального анализа данных вашего проекта.')
					+slide(3,'SEO АУДИТ','Проведем анализ вашего сайта на предмет готовности к SEO оптимизации.')
					+slide(3,'SEO ОПТИМИЗАЦИЯ','Продвижение сайта на ТОПовые позиции в пезультатах выдачи поисковых систем.')
					+slide(9,'EMAIL МАРКЕТИНГ','Повышаем продажи вашего проекта с помощью email маркетинга.')
					+slide(10,'КОМПЛЕКСНОЕ ПРОДВИЖЕНИЕ','Комплексный подход к продвижению вашего проекта онлайн.')
					+slide(11,'ДИНАМИЧЕСКИЙ РЕМАРКЕТИНГ','Настройка и запуск динамического ремаркетинга в Google, Facebook, Instagram.')
					+slide(12,'ОТЧЕТ В GOOGLE DATA STUDIO','Подготовка полного отчета по источникам трафика в Google Data Studio.')
					+slide(13,'НАСТРОЙКА ВЕБ-АНАЛИТИКИ','Настройка базовых целей, автоматической отчетности и E-commerce трекинга.')
					+slide(14,'АУДИТ РЕКЛАМНЫХ КАМПАНИЙ','Профессиональный аудит текущих кампаний в рекламных системах.')
					+slide(4,'КОНСУЛЬТАЦИЯ','Ответим на ваши вопросы касательно работы и эффективности ваших рекламных кампаний.')